@tailwind base;
@tailwind components;
@tailwind utilities;
/* body{
    margin: 0;
    padding: 0;
} */
/* .header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 227, 227);
}
.inner-header{
    display: flex;
}
.vertical-line{
    width: 1px;
    height: 20px;
    background-color: black;
}
.content{
    display: flex;
    justify-content: space-between;
}
.section-1{
    width: 33.33%;
    background-color: rgb(233, 219, 193);
}
.section-1 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-2{
    width: 33.33%;
    background-color: rgb(231, 238, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    
}
.section-3{
    width: 33.33%;
    background-color: pink;
}
@media screen and (max-width:390px) and (min-width: 700px)  {
    .section-1 {
        display: none;
    }
    .section-3 {
        display: none;
    }
}
 */
